<section class="images-wrapper">
  {{#each viewModel}}
  <div class="card">
    <a href="/images/{{ uniqueId  }}">
      <img src="/public/upload/{{filename}}" alt="{{title}}" class="w-100 img-thumbnail">
    </a>
    <div class="card-body">
      <p class="card-text text-center font-weight-bold h4">{{ title }}</p>
    </div>
  </div>
  {{/each}}
</section>