@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  /*background: #dff9fb;*/
  background-image: url(../images/autentication.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.navbar-brand img {
  width: 10%;
  margin-right: 0.8rem;
  letter-spacing: 2em;
  position: relative;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.bg-dark,
.btn-info,
.btn-primary {
  background: rgb(0, 60, 80) !important;
}

.card-header {
  font-weight: 500;
}

p.text-header {
  font-size: 1.2em;
  font-weight: 500;
}

.main-wrapper {
    display: grid;
    grid-template-columns: 10em repeat(5, 1fr) 10em;
    grid-row: auto;
    margin-top: 2em;
}

.images-wrapper {
  grid-column: 2/6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  max-width: 20em;
  max-height: 20em;
  margin-right: 1em;
}

.card img {
    max-height: 13em;
    object-fit: cover;
  }